@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="wp-block property list">
                <div class="wp-block-body">
                    <div class="wp-block-img">
                        <a href="#">
                            <img src="http://itchief.ru/assets/demo/image/image1-800-530.jpg" alt="">
                        </a>
                    </div>
                    <div class="wp-block-content">
                        <small>
                            <span class="fa fa-calendar" aria-hidden="true"></span> 11.01.2015
                        </small>
                        <h4 class="content-title">Lorem ipsum</h4>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisg elitm Ut tincidunt purus iaculis ipsum dctum non dtum quam.</p>
                        <span class="pull-left">
                            <span class="fa fa-folder-open" aria-hidden="true"></span>   Bootstrap 3
                        </span>
                        <span class="pull-right">
                            <span class="capacity">
                                <i class="fa fa-user"></i> Имя Фамилия
                            </span>
                        </span>
                    </div>
                </div>
                <div class="wp-block-footer">
                    <ul class="aux-info">
                        <li><span class="fa fa-envelope-open" aria-hidden="true"></span> 365</li>
                        <li><span class=" fa fa-comment" aria-hidden="true"></span> 5</li>
                        <li><span class="fa fa-star" aria-hidden="true"></span> 2</li>
                        <li><span class="fa fa-thumbs-up" aria-hidden="true"></span> +5 <span class="fa fa-thumbs-down" aria-hidden="true"></span></li>
                        <li><span class="fa fa-tags" aria-hidden="true"></span> Тег 1, Тег 2, Тег 3</li>
                    </ul>
                </div>
            </div>
            <div class="wp-block property list">
                <div class="wp-block-body">
                    <div class="wp-block-img">
                        <a href="#">
                            <img src="http://itchief.ru/assets/demo/image/image2-800-530.jpg" alt="">
                        </a>
                    </div>
                    <div class="wp-block-content">
                        <small>
                            <span class="fa fa-calendar" aria-hidden="true"></span> 11.01.2015
                        </small>
                        <h4 class="content-title">Lorem ipsum</h4>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisg elitm Ut tincidunt purus iaculis ipsum dctum non dtum quam.</p>
                        <span class="pull-left">
                            <span class="fa fa-folder-open" aria-hidden="true"></span>   Bootstrap 3
                        </span>
                        <span class="pull-right">
                            <span class="capacity">
                                <i class="fa fa-user"></i> Имя Фамилия
                            </span>
                        </span>
                    </div>
                </div>
                <div class="wp-block-footer">
                    <ul class="aux-info">
                        <li><span class="fa fa-envelope-open" aria-hidden="true"></span> 365</li>
                        <li><span class=" fa fa-comments" aria-hidden="true"></span> 5</li>
                        <li><span class="fa fa-star" aria-hidden="true"></span> 2</li>
                        <li><span class="fa fa-thumbs-up" aria-hidden="true"></span> +5 <span class="fa fa-thumbs-down" aria-hidden="true"></span></li>
                        <li><span class="fa tags" aria-hidden="true"></span> Тег 1, Тег 2, Тег 3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>